#row{
    width:100%;
    text-align:center;
    padding:5px;
   }
   
   .col{
    width:25%;
    height:100px;
    text-align:center;
    padding:5px;
     margin:2px;
     border:1px solid gray;
      display:inline-block;
   }