/* This is the style sheet to run the code found in the Rows and Columns of Image and Text File.
container row and col refer to the div classes specified with identical names in the html file */

.container{
    margin-left:400px;
    margin-right:100px;
}

#row{
    width:100%;
    text-align:center;
    padding:5px;
   }
   
   .col{
    width:25%;
    height:100px;
    text-align:left;
    padding:5px;
    margin:2px;
    display:inline-block;
   }
